@use "./mixins";
* {
   box-sizing: border-box;
}
html {
   height: 100%;
}
body {
   @include mixins.stiky-footer;
   @include mixins.body-style("DM Sans", 400, #f6f7f9);
}
img {
   display: block;
   height: auto;
}
.site-main {
   flex-grow: 1;
}