:root {
   --placeholder-color: #6c727f;
   --border-color: #6c727f;
   --legend-color: #121826;
   --eye-btn-color: #6c727f;
   --span-color: transparent;
}
.error {
   --placeholder-color: #ed0202;
   --border-color: #f90909;
   --legend-color: #F90909;
   --eye-btn-color: #ef5da8;
   --span-color: #ff0707;
}